/*
    Author: Birendra Jung Rai
    Version: 1.0
*/

*{
    margin: 0 0;
    padding: 0 0;
    font-family: Arial, Helvetica, sans-serif;      
    font-family: 'Poppins', sans-serif;   
    
}
.modal-footer a{
    text-decoration: none;
    color: #B53471;
}
.modal-footer a:hover{
    text-decoration: underline;
    color: #B53471;
}
body{    
    background-image: url(../img/home-banner.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.pro-pic{
    width:10%; 
    border-radius: 50%;
}
.filter-menu li{
    list-style: none;
    display: inline-block;
    margin-right: 1%;
    padding: 1%; 
    cursor: pointer;   
}
.filter-menu li:hover,
.filter-menu .current{
    background-color: rgba(232, 238, 255, 1);
}
.filter-items {
    background-color:rgba(232, 238, 236, 0.5);
    padding: 2%;  
    border-radius: 2px;     
}
.filter-items img{
    width: 100%; 
    height: auto; 
    border-radius: 2px;      
}
.filter-items li,
.filter-items li.active{
    list-style: none;
    display: inline-block;
    width: 31%;
    margin: 1%;   
    transition: all 0.1s ease;
    cursor: pointer;  
    border: 5px solid rgba(89, 98, 96, 0.1);
}
.filter-items li.delete{
    width: 0%;
    margin: 0%;
    transition: all 0.1s ease;
}
.social-links li{
    display: inline-block; 
    margin-right: 1%;  
}
.social-links li a{
    font-size: 2.5rem;
    color:#57606f;

}
@media screen and (max-width:992px) {    
    .filter-items{
        text-align: center;
    }
    .filter-items li,
    .filter-items li.active{        
        width: 47%;
        align-self: center; 
    } 
    .pro-pic{
        width: 15%;
    }   
}
@media screen and (max-width:768px){
    .filter-items li,
    .filter-items li.active{
        width:98%;
    }
    .filter-items{
        text-align: center;
    }
    .pro-pic{
        width:20%;
    }
}

